<html>
    <head>
        <title>Assignment {{ Assignment }} - {{ Course }}</title>
    </head>
    <body>
        <h2>This application has gathered the following information from your machine</h2>
        <table>
            <tr>
                <td><b>Operating System:</b></td><td>{{ System }}</td>
            </tr>
            <tr>
                <td><b>Processor Model:</b></td><td>{{ Processor }}</td>
            </tr>
                <td><b>Machine Architecture:</b></td><td>{{ Machine }}</td>
            <tr>
                <td><b>Network Card:</b></td><td>{{ Network }}</td>
            </tr>
        </table>
</html>